@model FirstWeb.Models.CoriellTestModel

@if (Model.IndexResult != null)
{
    <h2>The location of the index is: @Html.DisplayFor(x => x.IndexResult)</h2>
    @Html.ActionLink("Go Back", "CoriellTest")
}
else
{
    <h2>
        Find the starting index of the longest run of characters in a given array
    </h2>

    using (Html.BeginForm("CoriellTest", "Home", FormMethod.Post))
    {
        <div>Welcome, please fill out your name: @Html.TextBoxFor(x => x.WhoDat, new { placeholder = "fill me out, bro" })</div>
        <div>
            Please enter the string you would like to check below:
            @Html.TextBoxFor(x => x.RobynInput)
        </div>

        <input type="submit" value="Do Thing!" class="btn btn-default" />
    }
}